{% extends "main.base.html" %}
{% load static %}
{% block content %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="{% static 'css/section.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <ul id="links_list" class="links_list">
      {% for inf in inf_list %}
        <div class="post">
          <li>
            <a href="/articles/{{inf|get_item:'web_url'|split_item}}">
              <h1>{{inf|get_item:"abstract"}}</h1></a>
            <img src="https://www.nytimes.com/{%with inf|get_item:'multimedia' as elem %}{{elem.0|get_item:'url'}}{% endwith %}"></img>
            <p>{{inf|get_item:"lead_paragraph"}}</p>
            <p>Source:<a class="api_link" href="{{inf|get_item:'web_url'}}">New York Times</a></p>
          </li>
        </div>
      {% endfor %}
    </ul>

    <ul id="side_list" class="side_list">
      <li>TODO:side_list</li>
    </ul>
  </body>
</html>
{% endblock %}
    